# ANALYSE EXPLORATOIRE DES DONNEES DE LA VILLE DE SEATTLE

### analyse des deux db: 2015 et 2016

In [178]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import ast

## Database 2015

In [203]:
df_2015 = pd.read_csv('archive/2015-building-energy-benchmarking.csv',sep = ',')
df_2015.head()

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,TaxParcelIdentificationNumber,Location,CouncilDistrictCode,Neighborhood,YearBuilt,...,GHGEmissionsIntensity(kgCO2e/ft2),DefaultData,Comment,ComplianceStatus,Outlier,2010 Census Tracts,Seattle Police Department Micro Community Policing Plan Areas,City Council Districts,SPD Beats,Zip Codes
0,1,2015,NonResidential,Hotel,MAYFLOWER PARK HOTEL,659000030,"{'latitude': '47.61219025', 'longitude': '-122...",7,DOWNTOWN,1927,...,2.64,No,NaN,Compliant,NaN,NaN,14.0,NaN,31.0,18081
1,2,2015,NonResidential,Hotel,PARAMOUNT HOTEL,659000220,"{'latitude': '47.61310583', 'longitude': '-122...",7,DOWNTOWN,1996,...,2.38,No,NaN,Compliant,NaN,NaN,14.0,NaN,31.0,18081
2,3,2015,NonResidential,Hotel,WESTIN HOTEL,659000475,"{'latitude': '47.61334897', 'longitude': '-122...",7,DOWNTOWN,1969,...,1.92,Yes,NaN,Compliant,NaN,NaN,56.0,NaN,31.0,18081
3,5,2015,NonResidential,Hotel,HOTEL MAX,659000640,"{'latitude': '47.61421585', 'longitude': '-122...",7,DOWNTOWN,1926,...,31.38,No,NaN,Compliant,High Outlier,NaN,56.0,NaN,31.0,18081
4,8,2015,NonResidential,Hotel,WARWICK SEATTLE HOTEL,659000970,"{'latitude': '47.6137544', 'longitude': '-122....",7,DOWNTOWN,1980,...,4.02,No,NaN,Compliant,NaN,NaN,56.0,NaN,31.0,19576

In [204]:
df_2015.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3340 entries, 0 to 3339
Data columns (total 47 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   OSEBuildingID                                                  3340 non-null   int64
 1   DataYear                                                       3340 non-null   int64
 2   BuildingType                                                   3340 non-null   object
 3   PrimaryPropertyType                                            3340 non-null   object
 4   PropertyName                                                   3340 non-null   object
 5   TaxParcelIdentificationNumber                                  3338 non-null   object
 6   Location                                                       3340 non-null   object
 7   CouncilDistrictCode                                            3340 non-null   int64
 8   Neighborhood                                                   3340 non-null   object
 9   YearBuilt                                                      3340 non-null   int64
 10  NumberofBuildings                                              3340 non-null   int64
 11  NumberofFloors                                                 3332 non-null   float64
 12  PropertyGFATotal                                               3340 non-null   int64
 13  PropertyGFAParking                                             3340 non-null   int64
 14  PropertyGFABuilding(s)                                         3340 non-null   int64
 15  ListOfAllPropertyUseTypes                                      3213 non-null   object
 16  LargestPropertyUseType                                         3204 non-null   object
 17  LargestPropertyUseTypeGFA                                      3204 non-null   float64
 18  SecondLargestPropertyUseType                                   1559 non-null   object
 19  SecondLargestPropertyUseTypeGFA                                1559 non-null   float64
 20  ThirdLargestPropertyUseType                                    560 non-null    object
 21  ThirdLargestPropertyUseTypeGFA                                 560 non-null    float64
 22  YearsENERGYSTARCertified                                       110 non-null    object
 23  ENERGYSTARScore                                                2560 non-null   float64
 24  SiteEUI(kBtu/sf)                                               3330 non-null   float64
 25  SiteEUIWN(kBtu/sf)                                             3330 non-null   float64
 26  SourceEUI(kBtu/sf)                                             3330 non-null   float64
 27  SourceEUIWN(kBtu/sf)                                           3330 non-null   float64
 28  SiteEnergyUse(kBtu)                                            3330 non-null   float64
 29  SiteEnergyUseWN(kBtu)                                          3330 non-null   float64
 30  SteamUse(kBtu)                                                 3330 non-null   float64
 31  Electricity(kWh)                                               3330 non-null   float64
 32  Electricity(kBtu)                                              3330 non-null   float64
 33  NaturalGas(therms)                                             3330 non-null   float64
 34  NaturalGas(kBtu)                                               3330 non-null   float64
 35  OtherFuelUse(kBtu)                                             3330 non-null   float64
 36  GHGEmissions(MetricTonsCO2e)                                   3330 non-null   float64
 37  GHGEmissionsIntensity(kgCO2e/ft2)                              3330 non-null   float64
 38  DefaultData                                                    3339 non-null   object
 39  Comment                                                        13 non-null     object
 40  ComplianceStatus                                               3340 non-null   object
 41  Outlier                                                        84 non-null     object
 42  2010 Census Tracts                                             224 non-null    float64
 43  Seattle Police Department Micro Community Policing Plan Areas  3338 non-null   float64
 44  City Council Districts                                         213 non-null    float64
 45  SPD Beats                                                      3338 non-null   float64
 46  Zip Codes                                                      3340 non-null   int64
dtypes: float64(23), int64(9), object(15)
memory usage: 1.2+ MB

## Database 2016

In [205]:
df_2016 = pd.read_csv('archive/2016-building-energy-benchmarking.csv',sep = ',')
df_2016.head()

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,Address,City,State,ZipCode,TaxParcelIdentificationNumber,...,Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),DefaultData,Comments,ComplianceStatus,Outlier,TotalGHGEmissions,GHGEmissionsIntensity
0,1,2016,NonResidential,Hotel,Mayflower park hotel,405 Olive way,Seattle,WA,98101.0,0659000030,...,1.156514e+06,3946027.0,12764.52930,1276453.0,False,NaN,Compliant,NaN,249.98,2.83
1,2,2016,NonResidential,Hotel,Paramount Hotel,724 Pine street,Seattle,WA,98101.0,0659000220,...,9.504252e+05,3242851.0,51450.81641,5145082.0,False,NaN,Compliant,NaN,295.86,2.86
2,3,2016,NonResidential,Hotel,5673-The Westin Seattle,1900 5th Avenue,Seattle,WA,98101.0,0659000475,...,1.451544e+07,49526664.0,14938.00000,1493800.0,False,NaN,Compliant,NaN,2089.28,2.19
3,5,2016,NonResidential,Hotel,HOTEL MAX,620 STEWART ST,Seattle,WA,98101.0,0659000640,...,8.115253e+05,2768924.0,18112.13086,1811213.0,False,NaN,Compliant,NaN,286.43,4.67
4,8,2016,NonResidential,Hotel,WARWICK SEATTLE HOTEL (ID8),401 LENORA ST,Seattle,WA,98121.0,0659000970,...,1.573449e+06,5368607.0,88039.98438,8803998.0,False,NaN,Compliant,NaN,505.01,2.88

In [206]:
df_2016.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3376 entries, 0 to 3375
Data columns (total 46 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   OSEBuildingID                    3376 non-null   int64
 1   DataYear                         3376 non-null   int64
 2   BuildingType                     3376 non-null   object
 3   PrimaryPropertyType              3376 non-null   object
 4   PropertyName                     3376 non-null   object
 5   Address                          3376 non-null   object
 6   City                             3376 non-null   object
 7   State                            3376 non-null   object
 8   ZipCode                          3360 non-null   float64
 9   TaxParcelIdentificationNumber    3376 non-null   object
 10  CouncilDistrictCode              3376 non-null   int64
 11  Neighborhood                     3376 non-null   object
 12  Latitude                         3376 non-null   float64
 13  Longitude                        3376 non-null   float64
 14  YearBuilt                        3376 non-null   int64
 15  NumberofBuildings                3368 non-null   float64
 16  NumberofFloors                   3376 non-null   int64
 17  PropertyGFATotal                 3376 non-null   int64
 18  PropertyGFAParking               3376 non-null   int64
 19  PropertyGFABuilding(s)           3376 non-null   int64
 20  ListOfAllPropertyUseTypes        3367 non-null   object
 21  LargestPropertyUseType           3356 non-null   object
 22  LargestPropertyUseTypeGFA        3356 non-null   float64
 23  SecondLargestPropertyUseType     1679 non-null   object
 24  SecondLargestPropertyUseTypeGFA  1679 non-null   float64
 25  ThirdLargestPropertyUseType      596 non-null    object
 26  ThirdLargestPropertyUseTypeGFA   596 non-null    float64
 27  YearsENERGYSTARCertified         119 non-null    object
 28  ENERGYSTARScore                  2533 non-null   float64
 29  SiteEUI(kBtu/sf)                 3369 non-null   float64
 30  SiteEUIWN(kBtu/sf)               3370 non-null   float64
 31  SourceEUI(kBtu/sf)               3367 non-null   float64
 32  SourceEUIWN(kBtu/sf)             3367 non-null   float64
 33  SiteEnergyUse(kBtu)              3371 non-null   float64
 34  SiteEnergyUseWN(kBtu)            3370 non-null   float64
 35  SteamUse(kBtu)                   3367 non-null   float64
 36  Electricity(kWh)                 3367 non-null   float64
 37  Electricity(kBtu)                3367 non-null   float64
 38  NaturalGas(therms)               3367 non-null   float64
 39  NaturalGas(kBtu)                 3367 non-null   float64
 40  DefaultData                      3376 non-null   bool
 41  Comments                         0 non-null      float64
 42  ComplianceStatus                 3376 non-null   object
 43  Outlier                          32 non-null     object
 44  TotalGHGEmissions                3367 non-null   float64
 45  GHGEmissionsIntensity            3367 non-null   float64
dtypes: bool(1), float64(22), int64(8), object(15)
memory usage: 1.2+ MB

### diffÃ©rence entre les deux databases

   afin de fusionner les deux databases il faut dans un premier temps noter leur diffÃ©rences

In [207]:
columns_2015 = list(df_2015.columns)
columns_2016 = list(df_2016.columns)
columns_idem = []
diff_col_2015 = []
diff_col_2016 = []

for col in columns_2015:
    if col in columns_2016:
        columns_idem.append(col)
    else:
        diff_col_2015.append(col)
for col in columns_2016:
    if col in columns_2015:
        columns_idem.append(col)
    else:
        diff_col_2016.append(col)

print('columns in df_2015 and not in df_2016 ',len(diff_col_2015),': \n', diff_col_2015, '\n \n \n',
      'colums in df_2016 and not in df_2015 ',len(diff_col_2016),': \n',diff_col_2016)

columns in df_2015 and not in df_2016  10 :
 ['Location', 'OtherFuelUse(kBtu)', 'GHGEmissions(MetricTonsCO2e)', 'GHGEmissionsIntensity(kgCO2e/ft2)', 'Comment', '2010 Census Tracts', 'Seattle Police Department Micro Community Policing Plan Areas', 'City Council Districts', 'SPD Beats', 'Zip Codes']


 colums in df_2016 and not in df_2015  9 :
 ['Address', 'City', 'State', 'ZipCode', 'Latitude', 'Longitude', 'Comments', 'TotalGHGEmissions', 'GHGEmissionsIntensity']

### DÃ©but du nettoyage afin de concatener les deux 2 dataframes

    - changer nom des colonnes avec les mÃªmes variables
    - rÃ©arranger les colonnes de location qui sont diffÃ©rentes sur les deux dataframes
    
    Une fois les deux dataframes concatÃ©nÃ©s:
    
    - Suppression des doublons
    - Suppression des colonnes inutiles pour la prÃ©diction

In [208]:
### rÃ©arrangement des colonnes de location

df_2015['Location'].iloc[0]

'{\'latitude\': \'47.61219025\', \'longitude\': \'-122.33799744\', \'human_address\': \'{"address": "405 OLIVE WAY", "city": "SEATTLE", "state": "WA", "zip": "98101"}\'}'

In [209]:
df_2015_inter = df_2015.copy()
df_2015_inter['Location'] = [ast.literal_eval(str(item)) for index, item in df_2015_inter.Location.iteritems()]
df_2015_inter = pd.concat([df_2015_inter.drop(['Location'], axis=1), df_2015_inter['Location'].apply(pd.Series)], axis=1)
df_2015_inter['human_address'] = [ast.literal_eval(str(item)) for index, item in df_2015_inter.human_address.iteritems()]
df_2015_inter = pd.concat([df_2015_inter.drop(['human_address'], axis=1), df_2015_inter['human_address'].apply(pd.Series)], axis=1)
df_2015_inter.head()

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,TaxParcelIdentificationNumber,CouncilDistrictCode,Neighborhood,YearBuilt,NumberofBuildings,...,Seattle Police Department Micro Community Policing Plan Areas,City Council Districts,SPD Beats,Zip Codes,latitude,longitude,address,city,state,zip
0,1,2015,NonResidential,Hotel,MAYFLOWER PARK HOTEL,659000030,7,DOWNTOWN,1927,1,...,14.0,NaN,31.0,18081,47.61219025,-122.33799744,405 OLIVE WAY,SEATTLE,WA,98101
1,2,2015,NonResidential,Hotel,PARAMOUNT HOTEL,659000220,7,DOWNTOWN,1996,1,...,14.0,NaN,31.0,18081,47.61310583,-122.33335756,724 PINE ST,SEATTLE,WA,98101
2,3,2015,NonResidential,Hotel,WESTIN HOTEL,659000475,7,DOWNTOWN,1969,1,...,56.0,NaN,31.0,18081,47.61334897,-122.33769944,1900 5TH AVE,SEATTLE,WA,98101
3,5,2015,NonResidential,Hotel,HOTEL MAX,659000640,7,DOWNTOWN,1926,1,...,56.0,NaN,31.0,18081,47.61421585,-122.33660889,620 STEWART ST,SEATTLE,WA,98101
4,8,2015,NonResidential,Hotel,WARWICK SEATTLE HOTEL,659000970,7,DOWNTOWN,1980,1,...,56.0,NaN,31.0,19576,47.6137544,-122.3409238,401 LENORA ST,SEATTLE,WA,98121

In [210]:
df_2015_inter = df_2015_inter.rename(columns={"latitude":"Latitude", "longitude":"Longitude",
                                      "address":"Address", "city":"City", 
                                      "state":"State", "zip":"ZipCode"})

df_2015_inter.head()

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,TaxParcelIdentificationNumber,CouncilDistrictCode,Neighborhood,YearBuilt,NumberofBuildings,...,Seattle Police Department Micro Community Policing Plan Areas,City Council Districts,SPD Beats,Zip Codes,Latitude,Longitude,Address,City,State,ZipCode
0,1,2015,NonResidential,Hotel,MAYFLOWER PARK HOTEL,659000030,7,DOWNTOWN,1927,1,...,14.0,NaN,31.0,18081,47.61219025,-122.33799744,405 OLIVE WAY,SEATTLE,WA,98101
1,2,2015,NonResidential,Hotel,PARAMOUNT HOTEL,659000220,7,DOWNTOWN,1996,1,...,14.0,NaN,31.0,18081,47.61310583,-122.33335756,724 PINE ST,SEATTLE,WA,98101
2,3,2015,NonResidential,Hotel,WESTIN HOTEL,659000475,7,DOWNTOWN,1969,1,...,56.0,NaN,31.0,18081,47.61334897,-122.33769944,1900 5TH AVE,SEATTLE,WA,98101
3,5,2015,NonResidential,Hotel,HOTEL MAX,659000640,7,DOWNTOWN,1926,1,...,56.0,NaN,31.0,18081,47.61421585,-122.33660889,620 STEWART ST,SEATTLE,WA,98101
4,8,2015,NonResidential,Hotel,WARWICK SEATTLE HOTEL,659000970,7,DOWNTOWN,1980,1,...,56.0,NaN,31.0,19576,47.6137544,-122.3409238,401 LENORA ST,SEATTLE,WA,98121

In [211]:
### Suppression et renaming des colonnes du dataframe de 2015

df_2015_inter = df_2015_inter.rename(columns={'GHGEmissions(MetricTonsCO2e)':'TotalGHGEmissions',
                                     'GHGEmissionsIntensity(kgCO2e/ft2)':'GHGEmissionsIntensity',
                                     'Comment':'Comments'})


df_2015_inter.drop(['OtherFuelUse(kBtu)','2010 Census Tracts',
                      'Seattle Police Department Micro Community Policing Plan Areas',
                      'City Council Districts','SPD Beats', 'Zip Codes'], axis=1, inplace=True)

print(df_2015_inter.info(verbose = True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3340 entries, 0 to 3339
Data columns (total 46 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   OSEBuildingID                    3340 non-null   int64
 1   DataYear                         3340 non-null   int64
 2   BuildingType                     3340 non-null   object
 3   PrimaryPropertyType              3340 non-null   object
 4   PropertyName                     3340 non-null   object
 5   TaxParcelIdentificationNumber    3338 non-null   object
 6   CouncilDistrictCode              3340 non-null   int64
 7   Neighborhood                     3340 non-null   object
 8   YearBuilt                        3340 non-null   int64
 9   NumberofBuildings                3340 non-null   int64
 10  NumberofFloors                   3332 non-null   float64
 11  PropertyGFATotal                 3340 non-null   int64
 12  PropertyGFAParking               3340 non-null   int64
 13  PropertyGFABuilding(s)           3340 non-null   int64
 14  ListOfAllPropertyUseTypes        3213 non-null   object
 15  LargestPropertyUseType           3204 non-null   object
 16  LargestPropertyUseTypeGFA        3204 non-null   float64
 17  SecondLargestPropertyUseType     1559 non-null   object
 18  SecondLargestPropertyUseTypeGFA  1559 non-null   float64
 19  ThirdLargestPropertyUseType      560 non-null    object
 20  ThirdLargestPropertyUseTypeGFA   560 non-null    float64
 21  YearsENERGYSTARCertified         110 non-null    object
 22  ENERGYSTARScore                  2560 non-null   float64
 23  SiteEUI(kBtu/sf)                 3330 non-null   float64
 24  SiteEUIWN(kBtu/sf)               3330 non-null   float64
 25  SourceEUI(kBtu/sf)               3330 non-null   float64
 26  SourceEUIWN(kBtu/sf)             3330 non-null   float64
 27  SiteEnergyUse(kBtu)              3330 non-null   float64
 28  SiteEnergyUseWN(kBtu)            3330 non-null   float64
 29  SteamUse(kBtu)                   3330 non-null   float64
 30  Electricity(kWh)                 3330 non-null   float64
 31  Electricity(kBtu)                3330 non-null   float64
 32  NaturalGas(therms)               3330 non-null   float64
 33  NaturalGas(kBtu)                 3330 non-null   float64
 34  TotalGHGEmissions                3330 non-null   float64
 35  GHGEmissionsIntensity            3330 non-null   float64
 36  DefaultData                      3339 non-null   object
 37  Comments                         13 non-null     object
 38  ComplianceStatus                 3340 non-null   object
 39  Outlier                          84 non-null     object
 40  Latitude                         3340 non-null   object
 41  Longitude                        3340 non-null   object
 42  Address                          3340 non-null   object
 43  City                             3340 non-null   object
 44  State                            3340 non-null   object
 45  ZipCode                          3340 non-null   object
dtypes: float64(18), int64(8), object(20)
memory usage: 1.2+ MB
None

In [212]:
### ConcatÃ©nation des deux dataframe

df_final = pd.concat([df_2015_inter,df_2016])
df_final.head()
print(df_final.info(verbose=True))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6716 entries, 0 to 3375
Data columns (total 46 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   OSEBuildingID                    6716 non-null   int64
 1   DataYear                         6716 non-null   int64
 2   BuildingType                     6716 non-null   object
 3   PrimaryPropertyType              6716 non-null   object
 4   PropertyName                     6716 non-null   object
 5   TaxParcelIdentificationNumber    6714 non-null   object
 6   CouncilDistrictCode              6716 non-null   int64
 7   Neighborhood                     6716 non-null   object
 8   YearBuilt                        6716 non-null   int64
 9   NumberofBuildings                6708 non-null   float64
 10  NumberofFloors                   6708 non-null   float64
 11  PropertyGFATotal                 6716 non-null   int64
 12  PropertyGFAParking               6716 non-null   int64
 13  PropertyGFABuilding(s)           6716 non-null   int64
 14  ListOfAllPropertyUseTypes        6580 non-null   object
 15  LargestPropertyUseType           6560 non-null   object
 16  LargestPropertyUseTypeGFA        6560 non-null   float64
 17  SecondLargestPropertyUseType     3238 non-null   object
 18  SecondLargestPropertyUseTypeGFA  3238 non-null   float64
 19  ThirdLargestPropertyUseType      1156 non-null   object
 20  ThirdLargestPropertyUseTypeGFA   1156 non-null   float64
 21  YearsENERGYSTARCertified         229 non-null    object
 22  ENERGYSTARScore                  5093 non-null   float64
 23  SiteEUI(kBtu/sf)                 6699 non-null   float64
 24  SiteEUIWN(kBtu/sf)               6700 non-null   float64
 25  SourceEUI(kBtu/sf)               6697 non-null   float64
 26  SourceEUIWN(kBtu/sf)             6697 non-null   float64
 27  SiteEnergyUse(kBtu)              6701 non-null   float64
 28  SiteEnergyUseWN(kBtu)            6700 non-null   float64
 29  SteamUse(kBtu)                   6697 non-null   float64
 30  Electricity(kWh)                 6697 non-null   float64
 31  Electricity(kBtu)                6697 non-null   float64
 32  NaturalGas(therms)               6697 non-null   float64
 33  NaturalGas(kBtu)                 6697 non-null   float64
 34  TotalGHGEmissions                6697 non-null   float64
 35  GHGEmissionsIntensity            6697 non-null   float64
 36  DefaultData                      6715 non-null   object
 37  Comments                         13 non-null     object
 38  ComplianceStatus                 6716 non-null   object
 39  Outlier                          116 non-null    object
 40  Latitude                         6716 non-null   object
 41  Longitude                        6716 non-null   object
 42  Address                          6716 non-null   object
 43  City                             6716 non-null   object
 44  State                            6716 non-null   object
 45  ZipCode                          6700 non-null   object
dtypes: float64(19), int64(7), object(20)
memory usage: 2.4+ MB
None

In [213]:
### suppression des lignes concernant les habitations

df_final['BuildingType'].unique()

#df_final.dropna(df_final[['buildingType '] == 'Multifamily MR (5-9)'])
df_final.drop(df_final.loc[df_final['BuildingType']=='Multifamily MR (5-9)'].index, inplace=True)
df_final.drop(df_final.loc[df_final['BuildingType']=='Multifamily LR (1-4)'].index, inplace=True)
df_final.drop(df_final.loc[df_final['BuildingType']=='Multifamily HR (10+)'].index, inplace=True)
df_final.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2108 entries, 0 to 3375
Data columns (total 46 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   OSEBuildingID                    2108 non-null   int64
 1   DataYear                         2108 non-null   int64
 2   BuildingType                     2108 non-null   object
 3   PrimaryPropertyType              2108 non-null   object
 4   PropertyName                     2108 non-null   object
 5   TaxParcelIdentificationNumber    2107 non-null   object
 6   CouncilDistrictCode              2108 non-null   int64
 7   Neighborhood                     2108 non-null   object
 8   YearBuilt                        2108 non-null   int64
 9   NumberofBuildings                2106 non-null   float64
 10  NumberofFloors                   2105 non-null   float64
 11  PropertyGFATotal                 2108 non-null   int64
 12  PropertyGFAParking               2108 non-null   int64
 13  PropertyGFABuilding(s)           2108 non-null   int64
 14  ListOfAllPropertyUseTypes        2060 non-null   object
 15  LargestPropertyUseType           2056 non-null   object
 16  LargestPropertyUseTypeGFA        2056 non-null   float64
 17  SecondLargestPropertyUseType     1115 non-null   object
 18  SecondLargestPropertyUseTypeGFA  1115 non-null   float64
 19  ThirdLargestPropertyUseType      473 non-null    object
 20  ThirdLargestPropertyUseTypeGFA   473 non-null    float64
 21  YearsENERGYSTARCertified         167 non-null    object
 22  ENERGYSTARScore                  1473 non-null   float64
 23  SiteEUI(kBtu/sf)                 2101 non-null   float64
 24  SiteEUIWN(kBtu/sf)               2101 non-null   float64
 25  SourceEUI(kBtu/sf)               2102 non-null   float64
 26  SourceEUIWN(kBtu/sf)             2102 non-null   float64
 27  SiteEnergyUse(kBtu)              2102 non-null   float64
 28  SiteEnergyUseWN(kBtu)            2101 non-null   float64
 29  SteamUse(kBtu)                   2102 non-null   float64
 30  Electricity(kWh)                 2102 non-null   float64
 31  Electricity(kBtu)                2102 non-null   float64
 32  NaturalGas(therms)               2102 non-null   float64
 33  NaturalGas(kBtu)                 2102 non-null   float64
 34  TotalGHGEmissions                2102 non-null   float64
 35  GHGEmissionsIntensity            2102 non-null   float64
 36  DefaultData                      2107 non-null   object
 37  Comments                         7 non-null      object
 38  ComplianceStatus                 2108 non-null   object
 39  Outlier                          35 non-null     object
 40  Latitude                         2108 non-null   object
 41  Longitude                        2108 non-null   object
 42  Address                          2108 non-null   object
 43  City                             2108 non-null   object
 44  State                            2108 non-null   object
 45  ZipCode                          2092 non-null   object
dtypes: float64(19), int64(7), object(20)
memory usage: 774.0+ KB

In [214]:
#Suppression des doublons

df_final.drop_duplicates(keep = 'first', inplace=True)
df_final.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2108 entries, 0 to 3375
Data columns (total 46 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   OSEBuildingID                    2108 non-null   int64
 1   DataYear                         2108 non-null   int64
 2   BuildingType                     2108 non-null   object
 3   PrimaryPropertyType              2108 non-null   object
 4   PropertyName                     2108 non-null   object
 5   TaxParcelIdentificationNumber    2107 non-null   object
 6   CouncilDistrictCode              2108 non-null   int64
 7   Neighborhood                     2108 non-null   object
 8   YearBuilt                        2108 non-null   int64
 9   NumberofBuildings                2106 non-null   float64
 10  NumberofFloors                   2105 non-null   float64
 11  PropertyGFATotal                 2108 non-null   int64
 12  PropertyGFAParking               2108 non-null   int64
 13  PropertyGFABuilding(s)           2108 non-null   int64
 14  ListOfAllPropertyUseTypes        2060 non-null   object
 15  LargestPropertyUseType           2056 non-null   object
 16  LargestPropertyUseTypeGFA        2056 non-null   float64
 17  SecondLargestPropertyUseType     1115 non-null   object
 18  SecondLargestPropertyUseTypeGFA  1115 non-null   float64
 19  ThirdLargestPropertyUseType      473 non-null    object
 20  ThirdLargestPropertyUseTypeGFA   473 non-null    float64
 21  YearsENERGYSTARCertified         167 non-null    object
 22  ENERGYSTARScore                  1473 non-null   float64
 23  SiteEUI(kBtu/sf)                 2101 non-null   float64
 24  SiteEUIWN(kBtu/sf)               2101 non-null   float64
 25  SourceEUI(kBtu/sf)               2102 non-null   float64
 26  SourceEUIWN(kBtu/sf)             2102 non-null   float64
 27  SiteEnergyUse(kBtu)              2102 non-null   float64
 28  SiteEnergyUseWN(kBtu)            2101 non-null   float64
 29  SteamUse(kBtu)                   2102 non-null   float64
 30  Electricity(kWh)                 2102 non-null   float64
 31  Electricity(kBtu)                2102 non-null   float64
 32  NaturalGas(therms)               2102 non-null   float64
 33  NaturalGas(kBtu)                 2102 non-null   float64
 34  TotalGHGEmissions                2102 non-null   float64
 35  GHGEmissionsIntensity            2102 non-null   float64
 36  DefaultData                      2107 non-null   object
 37  Comments                         7 non-null      object
 38  ComplianceStatus                 2108 non-null   object
 39  Outlier                          35 non-null     object
 40  Latitude                         2108 non-null   object
 41  Longitude                        2108 non-null   object
 42  Address                          2108 non-null   object
 43  City                             2108 non-null   object
 44  State                            2108 non-null   object
 45  ZipCode                          2092 non-null   object
dtypes: float64(19), int64(7), object(20)
memory usage: 774.0+ KB

In [215]:
### Suppression des colonnes inutiles


'''
- 24 SiteEUIWN(kBtu/sf) (redondant)
- 26 SourceEUIWN(kBtu/sf) (redondant)
- 28 SiteEnergyUseWN(kBtu) (redondant)
- 37 Comments (inutile)
- 38 ComplianceStatus (inutile)
- 39 Outlier (inutile)
- 19 ThirdLargestPropertyUseType (inutile)
- 20 ThirdLargestPropertyUseTypeGFA (inutile)
- 17 SecondLargestPropertyUseType (inutile)
- 18  SecondLargestPropertyUseTypeGFA (inutile)
- 21  YearsENERGYSTARCertified (inutile)
- 31  Electricity(kBtu) (redondant)
- 33  NaturalGas(kBtu) (redondant)
- 36  DefaultData (inutile)
- 4   PropertyName (inutile)
- 43  City (inutile)
- 44  State (inutile)
'''

colonnes = ['SiteEUIWN(kBtu/sf)', 'SourceEUIWN(kBtu/sf)','SiteEnergyUseWN(kBtu)','Comments','ComplianceStatus','Outlier',
            'ThirdLargestPropertyUseType','ThirdLargestPropertyUseTypeGFA','SecondLargestPropertyUseType',
           'SecondLargestPropertyUseTypeGFA','YearsENERGYSTARCertified','Electricity(kBtu)','NaturalGas(kBtu)',
            'DefaultData','PropertyName','City','State']

df_final.drop(columns = colonnes, axis = 1,inplace = True)
df_final.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2108 entries, 0 to 3375
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   OSEBuildingID                  2108 non-null   int64
 1   DataYear                       2108 non-null   int64
 2   BuildingType                   2108 non-null   object
 3   PrimaryPropertyType            2108 non-null   object
 4   TaxParcelIdentificationNumber  2107 non-null   object
 5   CouncilDistrictCode            2108 non-null   int64
 6   Neighborhood                   2108 non-null   object
 7   YearBuilt                      2108 non-null   int64
 8   NumberofBuildings              2106 non-null   float64
 9   NumberofFloors                 2105 non-null   float64
 10  PropertyGFATotal               2108 non-null   int64
 11  PropertyGFAParking             2108 non-null   int64
 12  PropertyGFABuilding(s)         2108 non-null   int64
 13  ListOfAllPropertyUseTypes      2060 non-null   object
 14  LargestPropertyUseType         2056 non-null   object
 15  LargestPropertyUseTypeGFA      2056 non-null   float64
 16  ENERGYSTARScore                1473 non-null   float64
 17  SiteEUI(kBtu/sf)               2101 non-null   float64
 18  SourceEUI(kBtu/sf)             2102 non-null   float64
 19  SiteEnergyUse(kBtu)            2102 non-null   float64
 20  SteamUse(kBtu)                 2102 non-null   float64
 21  Electricity(kWh)               2102 non-null   float64
 22  NaturalGas(therms)             2102 non-null   float64
 23  TotalGHGEmissions              2102 non-null   float64
 24  GHGEmissionsIntensity          2102 non-null   float64
 25  Latitude                       2108 non-null   object
 26  Longitude                      2108 non-null   object
 27  Address                        2108 non-null   object
 28  ZipCode                        2092 non-null   object
dtypes: float64(12), int64(7), object(10)
memory usage: 494.1+ KB

In [216]:
df1 = df_final.copy()

In [217]:
# Suppression des lignes oÃ¹ 'TotalGHGEmissions' et 'SiteEnergyUse(kBtu)' sont nuls ou nÃ©gatif

df1.drop( df1[ df1['TotalGHGEmissions'] <= 0.0 ].index, inplace=True)
df1.drop( df1[ df1['SiteEnergyUse(kBtu)'] <= 0.0 ].index, inplace=True)
df1.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2070 entries, 0 to 3375
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   OSEBuildingID                  2070 non-null   int64
 1   DataYear                       2070 non-null   int64
 2   BuildingType                   2070 non-null   object
 3   PrimaryPropertyType            2070 non-null   object
 4   TaxParcelIdentificationNumber  2069 non-null   object
 5   CouncilDistrictCode            2070 non-null   int64
 6   Neighborhood                   2070 non-null   object
 7   YearBuilt                      2070 non-null   int64
 8   NumberofBuildings              2068 non-null   float64
 9   NumberofFloors                 2067 non-null   float64
 10  PropertyGFATotal               2070 non-null   int64
 11  PropertyGFAParking             2070 non-null   int64
 12  PropertyGFABuilding(s)         2070 non-null   int64
 13  ListOfAllPropertyUseTypes      2022 non-null   object
 14  LargestPropertyUseType         2018 non-null   object
 15  LargestPropertyUseTypeGFA      2018 non-null   float64
 16  ENERGYSTARScore                1455 non-null   float64
 17  SiteEUI(kBtu/sf)               2065 non-null   float64
 18  SourceEUI(kBtu/sf)             2065 non-null   float64
 19  SiteEnergyUse(kBtu)            2065 non-null   float64
 20  SteamUse(kBtu)                 2065 non-null   float64
 21  Electricity(kWh)               2065 non-null   float64
 22  NaturalGas(therms)             2065 non-null   float64
 23  TotalGHGEmissions              2065 non-null   float64
 24  GHGEmissionsIntensity          2065 non-null   float64
 25  Latitude                       2070 non-null   object
 26  Longitude                      2070 non-null   object
 27  Address                        2070 non-null   object
 28  ZipCode                        2054 non-null   object
dtypes: float64(12), int64(7), object(10)
memory usage: 485.2+ KB

In [218]:
### Exportation du dataframe final pour la recherche de features et la prÃ©diction

df1.to_csv('building-energy-benchmarking_final.csv',sep = ',')